.media.thumbnail {
  height: 212px;
  .thumbnail-poster-container {
    position      : relative;
    padding-bottom: 56.25%;
    height        : 0;
    .thumbnail-poster {
      position       : absolute;
      top            : 0;
      left           : 0;
      width          : 100%;
      height         : 100%;
      background     : center center no-repeat;
      background-size: cover;
    }
    .no-poster {
      @extend .img-rounded;
      background: $armadillo;
      .no-poster-icon {
        @extend .glyphicon, .glyphicon-film, %center-both;
        font-size: 6rem;
        color    : $jumbo;
      }
    }
  }
}
